body {
    font-family: Arial;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: white;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    margin: 0;
}

.container {
    background: rgba(255,255,255,0.1);
    padding: 40px;
    border-radius: 15px;
    display: inline-block;
}

input {
    padding: 12px;
    width: 300px;
    border-radius: 8px;
    border: none;
}

button {
    padding: 12px 20px;
    border-radius: 8px;
    border: none;
    background: #00c6ff;
    color: white;
    cursor: pointer;
}

.popup {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.popup-content {
    background: #1e293b;
    padding: 30px;
    border-radius: 15px;
    width: 400px;
}

.close {
    float: right;
    cursor: pointer;
}

.good {
    color: #4ade80;
}

.bad {
    color: #f87171;
}